.buttonDefault{
    display: inline-flex;
    height: 3.75rem;
    padding: 0rem 1.25rem;
    border-radius: 0.5rem;
    background: #BDBDBD;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover{
        background: #27AE60;
        color: #fff;
    };
};

.buttonMedium{
    display: inline-flex;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.5rem;
    background: #BDBDBD;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover{
        background: #27AE60;
        color: #fff;
    };
};