:root{
    --brand-1: #27AE6D;
    --brand-2: #EB5757;

    --grey-600: #333333;
    --grey-300: #828282;
    --grey-100: #E0E0E0;
    --grey-0: #F5F5F5;
   
    --black-20: rgba(0, 0, 0, 0.2);

    --white: #fff;
};