@import "./Typography.scss";
@import "./buttons.scss";
@import "./card.scss";
@import "./global.scss";

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

main {
  margin-left: 7.25rem;
}

.toast-container{
  top: 6rem !important;
  right: 0.3rem !important;
}

@media (min-width: 320px) and (max-width: 428px) {
  main {
    margin-left: 1.2rem;
  }
}