%heading1{
    font-size: 1.625rem;
    font-weight: bold; 
};

%heading2{
    font-size: 22px;
    font-weight: bold; 
};

%heading3{
    font-size: 18px;
    font-weight: 700; 
};

%healine{
    font-size: 16px;
    font-weight: 600; 
};

%caption{
    font-size: 12px;
    font-weight: normal;
}