@import "../../styles/global.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1.06rem;
  background-color: var(--grey-0);
}

.logo {
  margin-left: 5.25rem;
}

.cartOpenButton {
  display: flex;
  background-color: var(--grey-0);
  color: var(--grey-200);
  border: none;
  cursor: pointer;

  &:hover{
    color: var(--grey-300);
  }
}

.cartOpenButton:hover .cartNumber{
  background-color: var(--brand-1-05);
}

.cartNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.5rem;
  background-color: var(--brand-1);
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 0rem;
  color: var(--white);
  border-radius: 0.4375rem;
  margin-top: -1rem;
  margin-left: -0.625rem;
}

@media (min-width: 320px) and (max-width: 428px) {
  .logo {
    margin: 0;
  }
}
